body{
    background:  hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}

p{
  
   font-weight: 400;
   margin-bottom: 2em;
  
}

h2{
    font-size: 2em;
 font-family: 'Big Shoulders Display', cursive;
 font-weight: 700;
}

button{
    padding: 1em 1.6em;
    border-radius: 20px;
border: none;
outline: none;
background: hsl(0, 0%, 95%);
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 8em auto;
}


.row{
    display: flex;
    flex-direction: column;
    
    align-items: center;
   
}

@media (min-width:675px){
    .container{
     
     min-width: 375px;
    }

    .row{
        display: flex;
        flex-direction: row;
    }
    
}

.col{
    padding: 4em 2em;
}


.col-1{
    background: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}

.col-2{
    
background:  hsl(184, 100%, 22%);
}

.col-3{
    background: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}

.col-1,
.col-2,
.col-3{
    width: 30%;
}

.button-1{
    color: hsl(31, 77%, 52%) ;
}

.button-2{
    color: hsl(184, 100%, 22%) ;
}

.button-3{
   color:  hsl(179, 100%, 13%); 
}

.attribution {
    font-size: 11px;
    text-align: center;
color: #000;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);}