body{
    background:  hsl(0, 0%, 95%);
    font-size: 15px;
}

.container{
    width: 90%;
    max-width: 375px;
    margin: 3em auto;
}


.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:675px){
    .container{
        max-width: 1440px;
        margin: 4em auto;
    }

    .row{
        display: flex;
        flex-direction: row;
    }
    
}


.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);}